version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "haxorof"
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "centos*"
    assignees:
      - "haxorof"
  # Maintain dependencies for Python PiP (extras)
  - package-ecosystem: "pip"
    directory: "/requirements/extras"
    schedule:
      interval: "daily"
    assignees:
      - "haxorof"
  # Maintain dependencies for Python PiP
  - package-ecosystem: pip
    directory: "/requirements/v13"
    schedule:
      interval: daily
    assignees:
      - "haxorof"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
